*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.imglogo{
    width: 100px;
    cursor: pointer;
}
.p1{
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #40196d;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    top: 0;
    position: fixed;
    width: 100%;
}
.header1{
    display: flex;
    gap: 8rem;
    padding: 0px 20px 0px 20px;
    
}
.headp1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
   list-style: none;
}
.headp2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.btn-joinkuda{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: #40196d;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    border: none;
    margin-bottom: 2rem;
}
.imgglobal{
    cursor: pointer;
    margin-top: 10px;
}
.hoverfirstli{
    position: absolute;
}
.subp1{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: black;
    padding-left: 2rem;
    padding-right: 2rem;
}
.shank{
    display: flex;
    gap: 6rem;
    border: 2px solid;
    box-shadow: none;
    display: none;
    border-color: whitesmoke;
}
.special{
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    color: #979797;
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: pointer;
}
.p1:hover .shank{
    display: flex;
}
.hoversecondli{
    position: absolute;
}
.samson{
    display: flex;
    border: 2px solid;
    box-shadow: none;
    border-color: whitesmoke;
    display: none;
}
.p1:hover .samson{
    display: flex;
}
.hoverthirdli{
    position: absolute;
}
.bola{
    display: flex;
    border: 2px solid;
    box-shadow: none;
    border-color: whitesmoke;
    display: none;
}
.p1:hover .bola{
    display: block;
}
.hoverfourthli{
    position: absolute;
}
.bolasam{
    display: flex;
    border: 2px solid;
    box-shadow: none;
    border-color: whitesmoke;
    display: none;
}
.p1:hover .bolasam{
    display: block;
}
.foot{
    background: whitesmoke;
}
.foottext{
    margin-left: 10rem;
}
.sendmoney{
    font-weight: 900;
    font-size: 48px;
    line-height: 55px;
    color: #40196d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 200px;
}
.sub-sendmoney{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 30px;  
}.firstheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
    margin-right: 2rem;
}
.firstheader-img{
    width: 500px;
    height: 500px;
    object-fit: contain;
    margin-top: 10rem;
    margin-right: 10rem;
    position: relative;
}
button{
    color: white;
    background-color: black;
    border-radius: 5px;
    margin-top: 2rem;
}
.apple{
    display: flex;
}
.play{
    display: flex;
}
.order-div{
    border: 2px solid;
    width: 400px;
    background: white;
    border: none;
    margin-top: 1rem;
}
.img-order{
    padding: 1rem 4rem 0rem 2rem;
}
.p-order{
    font-weight: 900;
    font-size: 16px;
    line-height: 23px;
    color: #40196d;
    padding: 0.5rem 5rem 0.5rem 2rem;
}
.enjoy-div{
    border: 2px solid;
    width: 400px;
    background: white;
    border: none;
    margin-top: 1rem;
}
.img-enjoy{
    padding: 1rem 4rem 0rem 2rem;
}
.p-enjoy{
    font-weight: 900;
    font-size: 16px;
    line-height: 23px;
    color: #40196d;
    padding: 0.5rem 5rem 0.5rem 2rem;
}
.pay-div{
    border: 2px solid;
    width: 400px;
    background: white;
    border: none;
    margin-top: 1rem;
}
.img-pay{
    padding: 1rem 4rem 0rem 2rem;
}
.p-pay{
    font-weight: 900;
    font-size: 16px;
    line-height: 23px;
    color: #40196d;
    padding: 0.5rem 5rem 0.5rem 2rem;
}
.headpaydiv{
    display: flex;
    gap: 2rem;
    margin-top: 8rem;
}
.get-div{
    border: 2px solid;
    width: 400px;
    background: white;
    border: none;
    margin-top: 1rem;
}
.img-get{
    padding: 1rem 4rem 0rem 2rem;
}
.p-get{
    font-weight: 900;
    font-size: 16px;
    line-height: 23px;
    color: #40196d;
    padding: 0.5rem 5rem 0.5rem 2rem;
}
.save-div{
    border: 2px solid;
    width: 400px;
    background: white;
    border: none;
    margin-top: 1rem;
}
.img-save{
    padding: 1rem 4rem 0rem 2rem;
}
.p-save{
    font-weight: 900;
    font-size: 16px;
    line-height: 23px;
    color: #40196d;
    padding: 0.5rem 5rem 0.5rem 2rem;
}
.headsavediv{
    display: flex;
    gap: 2rem;
    margin: 2rem 0rem 0rem 10rem;
}
.secondheader{
    display: flex;
}
.img-woman{
    width: 500px;
    height: 500px;
    object-fit: contain;
    margin: 10rem 8rem 0rem 4rem;
}
.yourphone{
    font-weight: 900;
    font-size: 48px;
    line-height: 55px;
    color: #40196d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 16rem 16rem 0rem 8rem;
}
.sub-yourphone{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1rem 4rem 1rem 8rem;
}
.a-2{
    margin: 0rem 1rem 0rem 8rem;
}
.thirdheader{
    display: flex;
}
.p-yourmoney{
    font-weight: 900;
    font-size: 48px;
    line-height: 55px;
    color: #40196d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 16rem 10rem 0rem 0.3rem;
}
.sub-yourmoney{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1rem 8rem 1rem 0.3rem;
}
.img-trans{
    width: 500px;
    height: 500px;
    object-fit: contain;
    margin: 10rem 8rem 0rem 4rem;
}
.fourthheader{
    display: flex;
}
.saveandspend{
    font-weight: 900;
    font-size: 48px;
    line-height: 55px;
    color: #40196d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 16rem 10rem 0rem 8rem;
}
.sub-saveandspend{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1rem 4rem 1rem 8rem;
}
.img-saveandspend{
    width: 500px;
    height: 500px;
    object-fit: contain;
    margin: 10rem 8rem 0rem 4rem;
}
.fifthheader{
    display: flex;
}
.img-blockcard{
    width: 500px;
    height: 500px;
    object-fit: contain;
    margin: 10rem 8rem 0rem 4rem;
}
.p-blockcard{
    font-weight: 900;
    font-size: 48px;
    line-height: 55px;
    color: #40196d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 18rem 10rem 0rem 0.3rem;
}
.sub-blockcard{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1rem 8rem 1rem 0.3rem;
}
.a-5{
    margin-left: 10px;
}
.sixthheader{
    display: flex;
}
.happy{
    font-weight: 900;
    font-size: 48px;
    line-height: 55px;
    color: #40196d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 16rem 1rem 0rem 8rem;
}
.sub-happy{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1rem 4rem 1rem 8rem;
}
.img-happy{
    width: 500px;
    height: 500px;
    object-fit: contain;
    margin: 10rem 8rem 0rem 4rem;
}
.seventhheader{
    display: flex;
}
.img-naira{
    width: 500px;
    height: 500px;
    object-fit: contain;
    margin: 10rem 8rem 0rem 4rem;
}
.p-fee{
    font-weight: 900;
    font-size: 48px;
    line-height: 55px;
    color: #40196d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 18rem 10rem 0rem 0.3rem;
}
.sub-fee{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1rem 8rem 1rem 0.3rem;
}
.marque{
    border: 2px solid;
    width: 300px;
    border-color: royalblue;
    padding: 1rem;
}
.img-marque1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding-top: 2rem;
    object-fit: contain;
    position: relative;
}
.allmarque{
    display: flex;
    background: whitesmoke;
    margin-top: 2rem;
    gap: 1rem; 
}
.bbc-img{
    width: 100px;

}
.allimg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 5rem 5rem 0rem 5rem;
}
.eightheader{
    display: flex;
    gap: 2rem;
}
.p-more{
    font-weight: 900;
    font-size: 36px;
    line-height: 50px;
    color: #40196d;
    margin: 4rem 0rem 0rem 30rem;
}
.business{
    border: 2px solid;
    width: 400px;
    background: white;
    margin-top: 1rem;
    border: none;
}
.img-business{
    padding: 2rem 4rem 0rem 2rem;
}
.p-business{
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: #40196d;
    padding: 0.5rem 4rem 0rem 2rem;
}
.p-biz{
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    padding: 0.5rem 4rem 2rem 2rem;
}
.air-anchor{
    padding: 0.5rem 0rem 0.5rem 2rem;
}
.transfer{
    border: 2px solid;
    width: 400px;
    background: white;
    margin-top: 1rem;
    border: none;
}
.img-transfer{
    padding: 2rem 4rem 0rem 2rem;
}
.p-transfer{
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: #40196d;
    padding: 0.5rem 4rem 0rem 2rem;
}
.p-trans{
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    padding: 0.5rem 4rem 3rem 2rem;
}
.loan{
    border: 2px solid;
    width: 400px;
    background: white;
    margin-top: 1rem;
    border: none;
}
.img-loan{
    padding: 2rem 4rem 0rem 2rem;
}
.p-loan{
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: #40196d;
    padding: 0.5rem 4rem 0rem 2rem;
}.p-loans{
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    padding: 0.5rem 4rem 3.1rem 2rem;
}
.newdevelopment{
    border: 2px solid;
    width: 700px;
    background-color: #EFF1FF;
    margin-top: 8rem;
    border-radius: 5px;
    border: none;
    margin-left: 15rem;
}
.subnewdevelopment{
    display: flex;
    gap: 10rem;
}
.dmoneyapp{
    font-weight: 900;
    font-size: 36px;
    line-height: 50px;
    color: #40196d;
    padding: 2rem 0rem 0rem 4rem;
}
.sub-dmoneyapp{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding: 0.5rem 0rem 0rem 4rem;
}
.img-newdevelopment{
    width: 200px;
    object-fit: contain;
}
.subbtn2-joinkuda{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: #40196d;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    border: none;
    margin: 0.5rem 0rem 2rem 4rem;
}
.footer{
    margin-left: 10rem;
}
.subfooter{
    margin-top: 8rem;
}
.img-footer{
    width: 100px;
    cursor: pointer;
}
.sub-footer{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #40196d;
    list-style: none;
    position: relative;
}
.footer-div{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.underpersonal{
    list-style: none;
    position: absolute;
}
.footerli{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: 2rem;
    color: #000000;
}
.p-footer{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #979797;
    margin: 30rem 50rem 0rem 10rem;
}
.p-footers{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #979797;
    margin: 2rem 28rem 0rem 10rem;
}
@media screen and (max-width:980px) {
    .headp1 {
        display: none;
    }
    .firstheader{
        flex-direction: column;
    }
    .headpaydiv{
        flex-direction: column;
    }
    .headsavediv{
        flex-direction: column;
    }
    .secondheader{
        flex-direction: column;
    }
    .thirdheader{
        flex-direction: column;
    }
    .fourthheader{
        flex-direction: column;
    }
    .fifthheader{
        flex-direction: column;
    }
    .sixthheader{
        flex-direction: column;
    }
    .seventhheader{
        flex-direction: column;
    }
    .allmarque{
        flex-direction: column;
    }
    .allimg{
        flex-direction: column;
    }
    .eightheader{
        flex-direction: column;
    }
    .newdevelopment{
        flex-direction: column;
    }
}