*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.imglogo{
    width: 100px;
    cursor: pointer;
}
.p1{
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #40196d;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    top: 0;
    position: fixed;
    width: 100%;
}
.header1{
    display: flex;
    gap: 8rem;
    padding: 0px 20px 0px 20px;
    
}
.headp1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
   list-style: none;
}
.headp2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.btn-joinkuda{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: #40196d;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    border: none;
}
.imgglobal{
    cursor: pointer;
    margin-top: 10px;
}
.hoverfirstli{
    position: absolute;
}
.subp1{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: black;
    padding-left: 2rem;
    padding-right: 2rem;
}
.shank{
    display: flex;
    gap: 6rem;
    border: 2px solid;
    box-shadow: none;
    display: none;
    border-color: whitesmoke;
}
.special{
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    color: #979797;
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: pointer;
}
.p1:hover .shank{
    display: flex;
}
.hoversecondli{
    position: absolute;
}
.samson{
    display: flex;
    border: 2px solid;
    box-shadow: none;
    border-color: whitesmoke;
    display: none;
}
.p1:hover .samson{
    display: flex;
}
.hoverthirdli{
    position: absolute;
}
.bola{
    display: flex;
    border: 2px solid;
    box-shadow: none;
    border-color: whitesmoke;
    display: none;
}
.p1:hover .bola{
    display: block;
}
.hoverfourthli{
    position: absolute;
}
.bolasam{
    display: flex;
    border: 2px solid;
    box-shadow: none;
    border-color: whitesmoke;
    display: none;
}
.p1:hover .bolasam{
    display: block;
}
.foot{
    background: whitesmoke;
}
.foottext{
    margin-left: 10rem;
}
.sendmoney{
    font-weight: 900;
    font-size: 48px;
    line-height: 55px;
    color: #40196d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 200px;
}
.sub-sendmoney{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 30px;  
}
.sub-btnkuda{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: #40196d;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    border: none;
    margin-top: 30px;
}
.firstheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
    margin-right: 2rem;
}
.firstheader-img{
    width: 500px;
    height: 500px;
    object-fit: contain;
    margin-top: 10rem;
    margin-right: 10rem;
}
.secondheader{
    display: flex;
    gap: 2rem;
}
.withdraw{
    border: 2px solid;
    width: 400px;
    background: white;
    border: none;
    margin-top: 1rem;
}
.img-withdraw{
    padding: 1rem 4rem 0rem 2rem;
}
.p-withdraw{
    font-weight: 900;
    font-size: 16px;
    line-height: 23px;
    color: #40196d;
    padding: 0.5rem 5rem 0.5rem 2rem;
}
.get{
    border: 2px solid;
    width: 400px;
    background: white;
    border: none;
    margin-top: 1rem;
}
.img-get{
    padding: 1rem 4rem 0rem 2rem;
}
.p-get{
    font-weight: 900;
    font-size: 16px;
    line-height: 23px;
    color: #40196d;
    padding: 0.5rem 5rem 0.5rem 2rem;
}
.send{
    border: 2px solid;
    width: 400px;
    background: white;
    border: none;
    margin-top: 1rem; 
}
.img-send{
    padding: 1rem 4rem 0rem 2rem;
}
.p-send{
    font-weight: 900;
    font-size: 16px;
    line-height: 23px;
    color: #40196d;
    padding: 0.5rem 5rem 0.5rem 2rem;
}
.thirdheader{
    display: flex;
}
.img-sendmoney{
    width: 500px;
    height: 500px;
    object-fit: contain;
    margin-top: 8rem;
}
.sendego{
    font-weight: 900;
    font-size: 48px;
    line-height: 55px;
    color: #40196d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 16rem 10rem 0rem 8rem;
}
.sub-sendego{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0rem 10rem 0rem 8rem;
}
.fourthheader{
    display: flex;
}
.debitcard{
    font-weight: 900;
    font-size: 48px;
    line-height: 55px;
    color: #40196d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 16rem 8rem 0rem 0rem;
}
.sub-debitcard{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 2rem;
}
.img-debitcard{
    width: 500px;
    height: 500px;
    object-fit: contain;
    margin: 8rem 10rem 0rem 10rem;
}
.fifthheader{
    display: flex;
    gap: 4rem;
}
.img-needto{
    width: 500px;
    height: 500px;
    object-fit: contain;
}
.needto{
    font-weight: 900;
    font-size: 48px;
    line-height: 55px;
    color: #40196d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 8rem 8rem 0rem 0rem;
}
.sub-needto{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 2rem 8rem 0rem 0rem;
}
.sixthheader{
    display: flex; 
}
.aza{
    font-weight: 900;
    font-size: 48px;
    line-height: 55px;
    color: #40196d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 8rem 8rem 0rem 0rem;
}
.sub-aza{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 2rem;
}
.img-aza{
    width: 500px;
    height: 500px;
    object-fit: contain;
    margin: 0rem 8rem 0rem 6rem;
}
.seventhheader{
    display: flex;
    gap: 4rem;
}
.img-payonline{
    width: 500px;
    height: 500px;
    object-fit: contain;
}
.payonline{
    font-weight: 900;
    font-size: 48px;
    line-height: 55px;
    color: #40196d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 8rem 8rem 0rem 0rem;
}
.sub-payonline{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 2rem 8rem 0rem 0rem;
}
.p-more{
    font-weight: 900;
    font-size: 36px;
    line-height: 50px;
    color: #40196d;
    margin: 4rem 0rem 0rem 30rem;
}
.eightheader{
    display: flex;
    gap: 2rem;
}
.airtime{
    border: 2px solid;
    width: 400px;
    background: white;
    margin-top: 1rem;
    border: none;
}
.img-airtime{
    padding: 2rem 4rem 0rem 2rem;
}
.p-airtime{
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: #40196d;
    padding: 0.5rem 4rem 0rem 2rem;
}
.p-airt{
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    padding: 0.5rem 4rem 0rem 2rem;
}
.air-anchor{
    padding: 0.5rem 4rem 0.5rem 2rem;
}
.loan{
    border: 2px solid;
    width: 400px;
    background: white;
    margin-top: 1rem;
    border: none;
}
.img-loan{
    padding: 2rem 4rem 0rem 2rem;
}
.p-loan{
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: #40196d;
    padding: 0.5rem 4rem 0rem 2rem;
}
.p-loans{
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    padding: 0.5rem 4rem 0rem 2rem;
}
.save{
    border: 2px solid;
    width: 400px;
    background: white;
    margin-top: 1rem;
    border: none;
}
.img-save{
    padding: 2rem 4rem 0rem 2rem;
}
.p-save{
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: #40196d;
    padding: 0.5rem 4rem 0rem 2rem;
}
.p-saves{
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    padding: 0.5rem 4rem 0rem 2rem;
}
.footer{
    margin-left: 10rem;
}
.subfooter{
    margin-top: 8rem;
}
.img-footer{
    width: 100px;
    cursor: pointer;
}
.sub-footer{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #40196d;
    list-style: none;
    position: relative;
}
.footer-div{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.underpersonal{
    list-style: none;
    position: absolute;
}
.footerli{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: 2rem;
    color: #000000;
}
.p-footer{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #979797;
    margin: 30rem 50rem 0rem 10rem;
}
.p-footers{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #979797;
    margin: 2rem 28rem 0rem 10rem;
}
@media screen and (max-width:980px) {
    .headp1{
        display: none;
    }
    .firstheader{
        flex-direction: column;
    }
    .secondheader{
        flex-direction: column;
    }
    .thirdheader{
        flex-direction: column;
    }
    .fourthheader{
        flex-direction: column;
    }
    .fifthheader{
        flex-direction: column;
    }
    .sixthheader{
        flex-direction: column;
    }
    .seventhheader{
        flex-direction: column;
    }
    .eightheader{
        flex-direction: column;
    }
}